* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", arial;


}


:root {
    --text-color: #6c739d;

}


section {
    overflow: hidden;
}

body {
    font-family: "Montserrat", arial;
    font-size: 13px;
    overflow-x: hidden;
}


.menu-mobile {
    display: none;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}


.logo {
    width: 100px;

}

.logoimg {
    width: 80px;
    height: 80px;
    border-radius: 40px;

}


.logoimg img {
    width: 100%;
}







.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}


.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover {
    border-bottom: 5px solid var(--text-color);
    transition: 1.5s;
    color: rgb(202, 193, 193);
}

.banner a {
    display: inline-block;
    background-color: var(--text-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}


.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../img/Design\ sem\ nome\ \(12\).png');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;

}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);

}

.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;


}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}


.banner h1 span {
    color: var(--text-color);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.default {

    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;

}

.default.ligth {
    background-color: #fff;
}

.default.ligth .section-title,
.default.ligth .section-body {
    color: black;
}

.default.dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(108, 115, 157)-30%, rgb(0, 0, 0) 55%, rgb(0, 0, 0) 81%, rgb(0, 0, 0) 100%);
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}


.button {
    display: inline-block;
    background-color: var(--text-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.button:hover {
    transform: scale(1.1);
    transition: 2s;
    background-color: #99a2cd;
}







/* css de aréas expecificas */



.area-question {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.question-desc {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.question-desc h1 {
    font-size: 30px;
    max-width: 600px;
}

.desc-slogan h2 {
    font-size: 40px;
}

.question-desc p {

    font-size: 17px;
}


.question-desc .img-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.question-desc .img-question img {
    width: 600px;

}

.img-ebook img {
    filter: drop-shadow(5px 6px 10px var(--text-color));
}

.img-ebook img:hover {
    transform: rotate(10deg);
    transition: 2s;
}

.img-question {
    padding-right: 20px;
}

.form-area {
    display: flex;
    margin: auto;
 
}


.area-question .question-slogan img {
  width: 900px;
}

.strong-area {
    display: none;
}





.img-question h4 {
    color: var(--text-color);
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.img-question p {
    text-align: center;

}



.question-forms {
    display: flex;
    flex-direction: column;
}


.question-item {
    width: 400px;
    margin-bottom: 25px;
    background-color: rgba(38, 38, 38, 0.6);
    padding: 20px;
    border-radius: 20px;

}

.question-item h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 19px;

}

.question-item p {
    font-size: 16px;
    line-height: 20px;
}


.form-area {
    display: flex;
    margin: auto;
}


.form-item {
    flex: 1;
}


.desc-information {
    background-color: rgba(230, 228, 228, 0.6);
    margin: 30px auto 30px;
    max-width: 600px;
    border-radius: 50px
}

.section-aboutus {
    display: flex;

}


.section-aboutus--left {
    flex: 1;
    
}


.section-aboutus--rigth {
    width: 520px;
    text-align: center;
    
}

.section-aboutus--rigth img {
    margin-left: 50px;
    width: 500px;
    box-shadow: 0px 0px 20px #3f54be;
    border-radius: 20px;
    cursor: pointer;

}

.section-aboutus--rigth img:hover {
    transform: scale(1.1);
    transition: 2S;

}

.produto2--left {
  margin-left: 0px;
  margin-right: 100px;
  
}

.produto2--rigth {
    flex: 1;

}





.section-aboutus--left p {
    font-size: 14px;
    line-height: 24px;
}

.secao-video {
    display: none;
}

.video {
    width: 100%;
    max-width: 600px;
}

.video-area {
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%;
    
    
}

.video-area iframe {
    position: absolute;
    top: 5px;
    bottom: 0px;
    left: 50px;
    width: 90%;
    height: 90%;
    border: 0px;
   
    
}


.secao-video aside h2 {
   line-height:60px;
   margin-bottom: 20px;
   margin-top: 20px;
   font-size: 52px;
   color: #fff;
  
}

.secao-video aside span {
    color: var(--text-color);
}

.secao-video aside p  {
    line-height:25px;
    max-width: 700px;
    font-size: 16px;
    color: #fff;
    
    
}


.secao-video  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -80px;
    display: none;


}

.ebook-area {
    margin-bottom: 40px;
    overflow: hidden;
}


.question-membro {
    margin-left: 50px;
    margin-right: 0;
}

.membro-item {
    background-color: #f3f3f3;
}


.produto-area {
    display: flex;
}


.bar {
    margin-top: -50px;
    background-color: rgba(108, 115, 157, 0.4);
    display: block;
    padding: 10px;
    display: none;
    
}

.bar-2 {
    display: block;
}


.bar h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}


.ebook-area {
    display: flex;
    padding: 30px;
    justify-content: center;
    color: #fff;
}


.ebook--desc h1 {
    margin-top: 60px;
  font-size: 55px;
  text-transform: uppercase;
  max-width: 300px;
}

.ebook--img img {
    margin-top: 50px;
    width:500px;
    margin-left: 100px;
    filter: drop-shadow(5px 6px 10px var(--text-color));
}

.ebook--desc p {
    max-width: 300px;
    font-size: 19px;
}

.ebook--desc span {
    color: var(--text-color);
}

@media (min-width:451px) and (max-width: 800px) {

    .logo {
        margin-left: 40px;
    }

    .menu-mobile {
        width: 45px;
        margin-right: 30px;
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;

    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        font-size: 27px;
        padding-left: 50px;
        border: none;
    }


    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--rigth  {
         width: auto;
        
    }

   

    .section-aboutus--rigth img {
        width: 400px;
        margin: auto;
    }

    .product---left img {
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    .area-question {
        flex-direction: column;
        text-align: center;
    }

    .question-desc {
        padding: 0;
        padding: 10px;
        margin-bottom: 10px;
    }

    .question-desc {
        max-width: none;
    }

    .question-desc h1 {
        text-align: center;
        max-width: none;
    }

    .question-forms {
        padding: 10px;
        margin-bottom: 30px;
    }

    .question-item {
        margin: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .img-question {
        margin-bottom: 50px;
        padding: 0;
        padding: 10px;
    }

    .video-area iframe  {
        margin-top: 30px;
        left: 0cap;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 15px;
       
       
     }

     .video-area {
        margin-bottom: 50px ;
     }
 
     .secao-video {
      flex-direction: column;
      display: block;
     }
 
     .secao-video aside h2 {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
     }
 
     .secao-video aside p {
         text-align: center;
         font-size: 15px;
         padding: 20px ;
         max-width: none;
         line-height: 20px;
     }

     .question-buy-img  img  {
        height: 350px;
        height: auto;
        width: auto;
        
}


.question-membro {
    max-width: none;
    margin: 0;
}

.question-membro h1 {
    text-align: center;
    max-width: none;
}

.area-membro {
    flex-direction: column-reverse;
 }

 .ebook-area {
    display: none;
 }

 

 


}

@media (max-width: 450px) {



    .logo {
        margin-left: 40px;
    }

    .menu-mobile {
        width: 45px;
        margin-right: 30px;
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: calc(100vh - 100px);
        top: 100px;

    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        height: 60px;
        font-weight: bold;
        font-size: 20px;
        padding-left: 50px;
        border: none;
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner h2 {
        font-size: 17px;
    }


    .section-aboutus {
        flex-direction: column;
    }

    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section-aboutus--left p {
        text-align: center;
    }


    .section-aboutus--left,
    .button {

        text-align: center;
    }

    .section-aboutus--rigth {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-aboutus--rigth img {
        width: 100%;
        margin: 0%;
    }

    .section-produto-2 {
          margin-top: -50px;
    }
    
    .produto2--left {
        margin-bottom: 50px;
    }

        
    .strong-area {
        display: block;
    }


    .area-question {
        flex-direction: column;
        text-align: center;
    }

    .question-desc {
        padding: 0;
        padding: 10px;
        margin-bottom: 10px;
    }

    .question-forms {
        padding: 10px;
        
    }

    .img-question {
        margin-bottom: 50px;
        padding: 0;
        padding: 10px;
    }
  

    .desc-slogan h1 {
        font-size: 25px;
    }

    .desc-slogan p {
        padding: 10px;
    }


    .form-area {
        margin-top: -100px;
        flex-direction: column;
    }

    .form-item {
        margin-bottom: 40px;
    }

    .question-desc h1 {
        font-size: 20px;
    }

    .question-desc {
        overflow: hidden;
        margin-top: -90px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .desc-slogan h2 {
        margin-top: 70px;
        font-size: 25px;
    }

    .question-desc .img-question img {
        width: 500px;
    }


    .desc-information {
        margin-bottom: 140px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }

    .desc-information h1 {
        font-size: 18px;
    }
    .question-forms {
        margin-bottom: 100px;
        
    }

    .question-item {
        width: 350px;
        margin: auto;
        margin-bottom: 20px;
        padding: 20px;
        margin-top: 10px;
        padding-right: 30px;
        padding-left: 30px;

    }

    .area-question {
        margin-bottom: -50px;
        margin-top: 150px;
    }

    .area-question-slogan {
        margin-top: 0px;
        margin-bottom: 20px;
    }
     
    .desc-slogan {
        margin-top: -200px;
    }
    




    .default.dark {
        background: rgb(0, 0, 0);
        background: linear-gradient(-255deg, rgb(101, 101, 141) -90%, rgb(0, 0, 0) 55%, rgb(0, 0, 0) 81%, rgb(0, 0, 0) 100%);
    }

   

     .video-area {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    
     }
 
     .secao-video {
      flex-direction: column;
      display: block;
     }
 
     .secao-video aside h2 {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
     }
 
     .secao-video aside p {
         text-align: center;
         font-size: 15px;
         padding: 20px ;
         line-height: 20px;
     }
   
     .question-buy-img  img  {
                 height: auto;
                 width: auto;
                 filter: drop-shadow(5px 6px 20px var(--text-color));
                 
     }
     

     .area-membro {
        flex-direction: column-reverse;
     }

     .question-membro {
        margin-left: 0;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: -70px;
     }
     


     .membro-forms {
        margin-top: -10px;
        padding-right: 30px;
        padding-left: 30px;
     }

     .img-membro p {
        margin-top: 10px;
     }


     .bar {
        display: block;
     }
     

     .ebook-section {
        display: none;
     }


     


     

}



footer {
    height: 100px;
    background-color: #000;
    color: #fff;
}

footer h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 17px;
}


.animation-web {
    opacity: 0;
    filter: hue-rotate(15px) ;
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    transform: translateX(0);
    opacity: 1;
    filter: hue-rotate(0);
    transition: all 2.5s;
}